@import "./abstracts/mixins";
@import "./abstracts/responsive";
@import "./abstracts/loader";

@import "./base/reset";
@import "./base/typography";
@import "./base/animations";

@import "./layout/header";
@import "./layout/body";
// @import "./layout/footer";

@import "./themes/dark";

:root {
  --darkElement: hsl(209, 23%, 22%);
  --darkBackground: hsl(207, 26%, 17%);
  --lightElement: hsl(0, 0%, 100%);
  --lightBackground: hsl(0, 0%, 98%);
  --lightInput: hsl(0, 0%, 52%);
  --lightText: hsl(200, 15%, 8%);
}

.section {
  @include section;
}
